In [2]:
a=50
b=10.4
c="Hello"

print("the datatype of a is", type(a))
print("the datatype of a is", type(b))
print("the datatype of a is", type(c))

the datatype of a is <class 'int'>
the datatype of a is <class 'float'>
the datatype of a is <class 'str'>

In [3]:
String="My Name is Adam"
String.isupper()

False

In [4]:
len(String)

15

In [5]:
2+2

4

In [8]:
price = 900
print('the price of the mobile in $',price,sep='')

the price of the mobile in $900

In [9]:
brand = 'apple'
print ('the brand of the mobile is',brand)

the brand of the mobile is apple

In [12]:
ram = 4
print ('the ram of the mobileis', ram,'GB')

the ram of the mobileis 4 GB

In [13]:
storage = 128
print ('the internal storage of the mobile is', storage,'GB')

the internal storage of the mobile is 128 GB

In [20]:
is_billed = True
print (is_billed)

True

In [21]:
type (price)

int

In [22]:
type (brand)

str

In [23]:
type (ram)

int

In [24]:
type (storage)

int

In [25]:
type (is_billed)

bool

In [26]:
bill = price+price
bill = price*2
print ('the bill amount is $',bill,sep ='')

the bill amount is $1800

In [29]:
price = 900
discount = 15
price_after_discount = price - discount
print ('the price of the iphone after the discount is $',price_after_discount,sep='')

the price of the iphone after the discount is $885

In [33]:
products_gst_slabs = {'Product1':18,'Product2':18,'Product3':5,'Product4':18,'Product5':12,'Product6':5,
                          'Product7':12}

products_original_cost = {'Product1':1000,'Product2':250,'Product3':125,'Product4':345,'Product5':820,'Product6':980,
                          'Product7':500}

In [36]:
def math_fun(x,y):
    add = x + y
    sub = x-y
    return add,sub
    math_fun(4,2)

In [37]:
def prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             


print(prime(7))

True

In [39]:
def count_primenumber_in_list(numbers):
    prime = []

    for num in numbers:
        if num == 2:
            print(num)
            prime.append(num)
        else:
            is_prime = True
            for i in range(2, num):
                if num % i == 0:
                    is_prime = False
                    break

            if is_prime:
                print (num)
                prime.append(num)

    return len(prime)
    a = [2,3,4,5,6,7,10]
print ("Here Output shows the prime numbers & there count as well i.e.", count_primenumber_in_list(a))

TypeError: 'str' object cannot be interpreted as an integer

In [40]:
print(list(range(6,16,3)))

[6, 9, 12, 15]

In [44]:
 price = 900
for ind in range(5,21,5):
    discount = price * (ind/100)
    discounted_price = price - discount
    print('the price after providing',id,'percent discount is $',discounted_price,sep='')

the price after providing<built-in function id>percent discount is $855.0
the price after providing<built-in function id>percent discount is $810.0
the price after providing<built-in function id>percent discount is $765.0
the price after providing<built-in function id>percent discount is $720.0

In [45]:
print(range(5))

range(0, 5)

In [47]:
for i in range(1,5):
    print(i*2)

2
4
6
8