In [20]:
demo_array=np.arange(0,10) 
demo_array <3
demo_array[demo_array <6]
np.max(demo_array)

9

In [22]:
demo_matrix = np.array(([13,35,74,48], [23,37,37,38],[73,39,93,39]))
demo_matrix[:, (1,2)]

array([[35, 74],
       [37, 37],
       [39, 93]])

In [23]:
demo_array = np.arange(10,21)

##What is the output of the following lines?

subset_demo_array = demo_array[0:7]

subset_demo_array[:]= 101

subset_demo_array

array([101, 101, 101, 101, 101, 101, 101])

In [1]:
import numpy as np
import pandas as pd

In [26]:
df = pd.read_excel('Downloads/GDP_Dataset.xlsx')

In [13]:
df.head()

,S.No,Country,Population,Yearly_Change,Land_Area,Population_Density,Migrants_Net,Median_Age,Urban_Population,World_Share_in_Population,GDP,GDP_per_Capita,Share_of_World_GDP,Status
0,1,China,1421021791,0.39,9388211,151.362362,-348399,38,61.0,18.47,12238.0,8.612113,15.12,Developing
1,2,India,1338676785,0.99,2973190,450.249323,-532687,28,35.0,17.70,2651.0,1.980314,3.28,Developing
2,3,United States,325084756,0.59,9147420,35.538409,954806,38,83.0,4.25,19485.0,59.938215,24.08,Developed
3,4,Indonesia,264650963,1.07,1811570,146.089283,-98955,30,56.0,3.51,1015.0,3.835240,1.25,Developing
4,5,Pakistan,207906209,2.00,770880,269.699835,-233379,23,35.0,2.83,305.0,1.467008,0.38,Developing

In [14]:
df.tail()

,S.No,Country,Population,Yearly_Change,Land_Area,Population_Density,Migrants_Net,Median_Age,Urban_Population,World_Share_in_Population,GDP,GDP_per_Capita,Share_of_World_GDP,Status
167,181,Vanuatu,77001,2.42,12190,6.316735,120,21,24.0,0.0,0.863,11.207647,0.00,Developing
168,183,Barbados,58058,0.12,430,135.018605,-79,40,31.0,0.0,4.670,80.436805,0.01,Developing
169,187,Sao Tome & Principe,33671,1.91,960,35.073958,-1680,19,74.0,0.0,0.393,11.671765,0.00,Developing
170,188,Samoa,17808,0.67,2830,6.292580,-2803,22,18.0,0.0,0.841,47.225966,0.00,Developing
171,189,Saint Lucia,11370,0.46,610,18.639344,0,34,19.0,0.0,1.740,153.034301,0.00,Developing

In [16]:
df.shape

(172, 14)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   S.No                       172 non-null    int64
 1   Country                    172 non-null    object
 2   Population                 172 non-null    int64
 3   Yearly_Change              172 non-null    float64
 4   Land_Area                  172 non-null    int64
 5   Population_Density         172 non-null    float64
 6   Migrants_Net               172 non-null    int64
 7   Median_Age                 172 non-null    int64
 8   Urban_Population           168 non-null    float64
 9   World_Share_in_Population  172 non-null    float64
 10  GDP                        172 non-null    float64
 11  GDP_per_Capita             172 non-null    float64
 12  Share_of_World_GDP         172 non-null    float64
 13  Status                     172 non-null    object
dtypes: float64(7), int64(5), object(2)
memory usage: 18.9+ KB

In [30]:
df = pd.read_excel('Downloads/GDP_Dataset.xlsx')
df[df['Status'] == 'Developing'].shape[0]

138

In [31]:
df = pd.read_excel('Downloads/GDP_Dataset.xlsx')
df[df['Status'] == 'Developed'].shape[0]

34

In [40]:
df = pd.read_excel('Downloads/GDP_Dataset.xlsx')
df2 = df['Population'].sum()
print(df2)

7305446192

In [38]:
df = pd.read_excel('Downloads/GDP_Dataset.xlsx')
df.loc[df['Median_Age'].idxmax()]['Country']

'Japan'

In [48]:
df = pd.read_excel('Downloads/GDP_Dataset.xlsx')
df['Urban_Percentage'] = df['Urban_Population'] = (df['Urban_Population']/df['Population'])*100
print(df['Urban_Percentage'])

0      0.000004
1      0.000003
2      0.000026
3      0.000021
4      0.000017
         ...
167    0.031168
168    0.053395
169    0.219774
170    0.101078
171    0.167106
Name: Urban_Percentage, Length: 172, dtype: float64

In [50]:

df[df['Urban_Percentage']>90].shape[0]

KeyError: 'Urban_Percentage'

In [53]:
df = pd.read_excel('Downloads/GDP_Dataset.xlsx')
df['Population_Density'] = df['Population']/df['Land_Area']

In [55]:
print(df['Population_Density'])

0      151.362362
1      450.249323
2       35.538409
3      146.089283
4      269.699835
          ...
167      6.316735
168    135.018605
169     35.073958
170      6.292580
171     18.639344
Name: Population_Density, Length: 172, dtype: float64

In [56]:
df.nlargest(3,'Population_Density')[['Country','Population_Density']]

       Country  Population_Density
156      Macao        11146.433333
107  Singapore         7071.362857
97   Hong Kong         6083.929524

In [57]:
df[df['GDP'] > India]

NameError: name 'India' is not defined

In [58]:
india_GDP = df[df['Country'] == 'India']['GDP'].values[0]

In [59]:
india_GDP

2651.0

In [63]:
df[df['GDP'] > 'india_GDP'].shape[0]

TypeError: Invalid comparison between dtype=float64 and str